<footer class="container-fluid bg-dark text-white py-5 text-center border-top">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group-inline bg-dark ps-0">
        <li class="list-group-item mb-3 fs-2 fw-bolder">Contacts:</li>
        <li class="list-group-item mb-3 fw-medium">Phone: 123-456-789</li>
        <li class="list-group-item mb-3 fw-medium">Email: 2K9Dv&#64;gmail.com</li>
        <li class="list-group-item fst-italic">© 2025 MovieTreasure. All rights reserved.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group-inline p-5 bg-dark">
        <li class="list-group-item fs-5 fw-bolder"><a href="#"
            class="text-white link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">About
            Us</a></li>
        <li class="list-group-item mt-3 mb-3 fs-5 fw-bolder"><a href="#"
            class="text-white link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Contact</a>
        </li>
        <li class="list-group-item fs-5 fw-bolder"><a href="#"
            class="text-white link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Privacy
            Policy</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group list-group-flush bg-dark">
        <li class="list-group-item text-white fs-2 fw-bolder">
          <p class="">Socials:</p>
        </li>
        <li class="list-group-item">
          <a href="#" class="text-white me-3 fs-2"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white me-3 fs-2"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white me-3 fs-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3 fs-2"><i class="fab fa-youtube"></i></a>
          <a href="#" class="text-white fs-2"><i class="fab fa-tiktok"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
