<!-- movies-series-about.component.html -->
<div class="container mt-3">
  <div *ngIf="isLoading" class="d-flex justify-content-center my-5">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{ error }}
  </div>

  <div *ngIf="!isLoading && !error">
    <!-- Cím szekció -->
    <div class="row mb-3">
      <div class="col-12">
        <h1>{{ selectedShow.title }}</h1>
      </div>
    </div>

    <!-- Fő tartalom szekció -->
    <div class="row">
      <!-- Bal oldali oszlop: Poszter és trailer -->
      <div class="col-md-4">
        <div class="movie-poster mb-3">
          <img [src]="'https://egyedirobi.moriczcloud.hu/uploads/vizsga/' + selectedShow.image_url"
            style="max-height: 650px;" [alt]="selectedShow.title" class="img-fluid rounded">
        </div>

        <!-- Műfajok -->
        <div class="d-flex mb-3">
          <span class="badge bg-primary me-1 fs-6"
            *ngFor="let cat of getCategoryArray(selectedShow.category)">{{cat}}</span>
          <span class="badge bg-secondary ms-auto fs-6">{{selectedShow.type}}</span>
        </div>

        <!-- Leírás -->
        <div class="mb-4">
          <p class="description fs-5">{{ selectedShow.description }}</p>
        </div>

      </div>
      <div class="col-md-4 border rounded p-3 order-md-1 order-2 mt-3 mt-md-0">
        <h5>Comments: </h5>
        <div class="comments-input mt-auto w-100 d-flex">
          <input type="text" id="comment-input" class="w-100 p-2 border border-none" placeholder="Comment...">
          <button (click)="createComment()" id="comment_btn" class="btn btn-primary">Send</button>
        </div>
        <div class="comments border-bottom mt-2" *ngFor="let comment of selectedShow.comments">
          <div class="d-flex">
            <h6 class="fw-bold me-2">{{ comment.user_name }}</h6>
            <small class="text-secondary" *ngIf="comment.edited == true">(edited)</small>
          </div>
          <div>
            <p *ngIf="editing == false || comment.id != editing_id">{{ comment.comment }}</p>
            <div *ngIf="comment.user_id == selectedShow.user_id" class="d-flex ">
              <input *ngIf="editing == true && comment.id == editing_id" id="edit-comment" type="text"
                [value]="comment.comment" class="w-100 p-2 border border-none">
              <button *ngIf="editing == true && comment.id == editing_id" (click)="updateComment()"
                class="btn btn-primary">Edit</button>
            </div>
            <small class="text-secondary me-1">{{ comment.created_at.slice(0, 10) }}</small>
            <small class="text-secondary">{{ comment.created_at.slice(11, 16) }}</small>
            <small *ngIf="comment.user_id == selectedShow.user_id" class="ms-5"><a
                [href]="'#/movies-series-about/' + selectedShow.id" class="link-underline text-primary ms-1"
                (click)="editComment(comment.id)">(edit)</a></small>
            <small *ngIf="comment.user_id == selectedShow.user_id" class="ms-1"><a
                [href]="'#/movies-series-about/' + selectedShow.id" class="link-underline text-primary ms-1"
                (click)="deleteComment(comment.id)">(delete)</a></small>
          </div>
        </div>
      </div>
      <!-- Jobb oldali oszlop: Értékelések és statisztikák -->
      <div class="col-md-4 order-md-2 order-1">
        <!-- Értékelés -->
        <div class="stats-card mb-3 p-3 border rounded">
          <h4 class="text-secondary mb-2">Rating</h4>
          <div class="d-flex align-items-center justify-content-center">
            <i class="bi bi-star-fill text-warning me-2 fs-4"></i>
            <div>
              <h4 class="mb-0">{{ selectedShow.rating }}</h4>
            </div>
          </div>
        </div>

        <!-- Felhasználói értékelés -->
        <div class="stats-card mb-3 p-3 border rounded">
          <h4 class="text-secondary mb-2">Rate</h4>
          <div class="d-flex align-items-center justify-content-center">
            <button class="rating_btn" *ngFor="let i of [1, 2, 3, 4, 5]" (click)="rateShow(i)"><i
                class="far fa-star text-primary me-2 fa-2x"></i></button>
          </div>
        </div>

        <!-- Watchlist gomb -->
        <button class="btn btn-dark w-100" id="watchlist_btn"
          (click)="watchlisted ? removeFromWatchlist() : addToWatchlist()">
          <i class="bi bi-plus-circle me-2"></i> <span id="watchlist_span">Add to Watchlist</span>
        </button>

        <hr>

        <div *ngIf="selectedShow.season != 0" class="border border-1 rounded" style="text-align: center;">
          <div class="row p-3">
            <div class="col-md-5 col-sm-12">
              <h3>Seasons</h3>
              <p class="fs-5 m-auto">{{ selectedShow.season }}</p>
            </div>
            <div class="d-block d-md-none">
              <hr>
            </div>
            <div class="col-md-2 d-none d-md-block p-0">
              <div class="vr mx-auto" style="height: 100%"></div>
            </div>
            <div class="col-md-5 col-sm-12">
              <h3>Episodes</h3>
              <p class="fs-5 m-auto">{{ selectedShow.episode }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
