<!-- movies-series-about.component.html -->
<div class="container mt-3">
  <div *ngIf="isLoading" class="d-flex justify-content-center my-5">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{ error }}
  </div>

  <div *ngIf="!isLoading && !error">
    <!-- Cím szekció -->
    <div class="row mb-3">
      <div class="col-12">
        <h1>{{ selectedShow.title }}</h1>
      </div>
    </div>

    <!-- Fő tartalom szekció -->
    <div class="row">
      <!-- Bal oldali oszlop: Poszter és trailer -->
      <div class="col-md-4">
        <div class="movie-poster mb-3">
          <img [src]="'https://egyedirobi.moriczcloud.hu/uploads/vizsga/' + selectedShow.image_url"
            style="max-height: 500px;" [alt]="selectedShow.title" class="img-fluid rounded">
        </div>

        <!-- Műfajok -->
        <div class="mb-3">
          <span class="badge rounded bg-primary me-1" *ngFor="let cat of selectedShow.category">{{cat}}</span>
          <span class="badge rounded bg-secondary ms-2">{{selectedShow.type}}</span>
        </div>

        <!-- Leírás -->
        <div class="mb-4">
          <p class="description">{{ selectedShow.description }}</p>
        </div>

      </div>
      <div class="col-md-4 border rounded p-3">
        <h5>Comments: </h5>
        <div class="comments-input mt-auto w-100 d-flex">
          <input type="text" id="comment-input" class="w-100 p-2 border border-none" placeholder="Comment...">
          <button (click)="createComment()" id="comment_btn" class="btn btn-primary">Send</button>
        </div>
        <div class="comments border-bottom mt-2" *ngFor="let comment of selectedShow.comments">
          <h6 class="fw-bold">{{ comment.user_name }}</h6>
          <div>
            <p *ngIf="editing == false">{{ comment.comment }}</p>
            <div *ngIf="comment.user_id == selectedShow.user_id" class="d-flex ">
              <input *ngIf="editing == true && comment.id == editing_id" id="edit-comment" type="text"
                [value]="comment.comment" class="w-100 p-2 border border-none">
              <button *ngIf="editing == true && comment.id == editing_id" (click)="updateComment()"
                class="btn btn-primary">Edit</button>
            </div>
            <small class="text-secondary me-1">{{ comment.created_at.slice(0, 10) }}</small>
            <small class="text-secondary">{{ comment.created_at.slice(11, 16) }}</small>
            <small *ngIf="comment.user_id == selectedShow.user_id" class="ms-5"><a
                [href]="'#/movies-series-about/' + selectedShow.id" class="link-underline text-primary ms-1"
                (click)="editComment(comment.id)">(edit)</a></small>
            <small *ngIf="comment.user_id == selectedShow.user_id" class="ms-1"><a
                [href]="'#/movies-series-about/' + selectedShow.id" class="link-underline text-primary ms-1"
                (click)="deleteComment(comment.id)">(delete)</a></small>
          </div>
        </div>
      </div>
      <!-- Jobb oldali oszlop: Értékelések és statisztikák -->
      <div class="col-md-4">
        <!-- Értékelés -->
        <div class="stats-card mb-3 p-3 border rounded">
          <h4 class="text-secondary mb-2">Rating</h4>
          <div class="d-flex align-items-center justify-content-center">
            <i class="bi bi-star-fill text-warning me-2 fs-4"></i>
            <div>
              <h4 class="mb-0">{{ selectedShow.rating }}</h4>
            </div>
          </div>
        </div>

        <!-- Felhasználói értékelés -->
        <div class="stats-card mb-3 p-3 border rounded">
          <h4 class="text-secondary mb-2">Rate</h4>
          <div class="d-flex align-items-center justify-content-center">
            <button class="rating_btn" *ngFor="let i of [1, 2, 3, 4, 5]" (click)="rateShow(i)"><i
                class="far fa-star text-primary me-2 fa-2x"></i></button>
          </div>
        </div>

        <!-- Népszerűség -->
        <!-- <div class="stats-card mb-3">
          <h6 class="text-secondary mb-2">POPULARITY</h6>
          <div class="d-flex align-items-center justify-content-center">
            <i class="fas fa-arrow-down text-danger me-2"></i>
            <h4 class="mb-0">182 <span class="text-secondary">▾ 106</span></h4>
          </div>
        </div> -->

        <!-- Videók és Fotók -->
        <!-- <div class="stats-card mb-3">
          <div class="d-flex align-items-center justify-content-center">
            <i class="fas fa-video me-2 fa-2x"></i>
            <h4 class="mb-0">3 VIDEOS</h4>
          </div>
        </div>

        <div class="stats-card mb-3">
          <div class="d-flex align-items-center justify-content-center">
            <i class="fas fa-image me-2 fa-2x"></i>
            <h4 class="mb-0">98 PHOTOS</h4>
          </div>
        </div> -->

        <!-- Watchlist gomb -->
        <button class="btn btn-dark w-100 mb-3" id="watchlist_btn"
          (click)="watchlisted ? removeFromWatchlist() : addToWatchlist()">
          <i class="bi bi-plus-circle me-2"></i> <span id="watchlist_span">Add to Watchlist</span>
        </button>
        <!-- <p class="text-center text-secondary">Added by 32.9K users</p> -->

        <!-- Értékelések -->
        <!--
        <div class="d-flex justify-content-between mb-3">
          <div>
            <h5>115</h5>
            <p class="text-secondary">User reviews</p>
          </div>
          <div>
            <h5>17</h5>
            <p class="text-secondary">Critic reviews</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
