<div class="container mt-4 mb-4 p-5 border rounded" data-bs-theme="dark">
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Username / Email</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="check">
          <label class="form-check-label" for="check">Stay logged in</label>
        </div>
        <button type="submit" class="btn btn-dark border">Login</button>
      </form>
</div>
