<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand fs-2" routerLink="/">Vizsgaremek</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link fs-4" routerLink="/">Home</a>
        </li>
        <li class="nav-item fs-4">
          <a class="nav-link disabled d-none d-sm-block" routerLink="/">·</a>
        </li>
        <li class="nav-item fs-4">
          <a class="nav-link" routerLink="/movies-series">Movies/Series</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-none d-sm-block">
          <a class="nav-link" routerLink="/about-profile"><i class="fas fa-user-circle fs-1"></i></a>
        </li>
        <li class="nav-item d-block d-sm-none ">
          <a class="nav-link fs-4" routerLink="/about-profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-outlet container-fluid p-2">
  <router-outlet />
</div>

<footer class="container-fluid bg-dark text-white py-5 text-center border-top">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group-inline bg-dark ps-0">
          <li class="list-group-item mb-3 fs-2 fw-bolder">Contacts:</li>
          <li class="list-group-item mb-3 fw-medium">Phone: 123-456-789</li>
          <li class="list-group-item mb-3 fw-medium">Email: 2K9Dv&#64;gmail.com</li>
          <li class="list-group-item fst-italic">© 2025 Your Company Name. All rights reserved.</li>
        </ul> 
      </div>
      <div class="col-md-4">
        <ul class="list-group-inline p-5 bg-dark">
            <li class="list-group-item fs-5 fw-bolder"><a href="#" class="text-white link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">About Us</a></li>
            <li class="list-group-item mt-3 mb-3 fs-5 fw-bolder"><a href="#" class="text-white link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Contact</a></li>
            <li class="list-group-item fs-5 fw-bolder"><a href="#" class="text-white link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group list-group-flush bg-dark">
            <li class="list-group-item text-white fs-2 fw-bolder"><p class="">Socials:</p></li>
            <li class="list-group-item">
              <a href="#" class="text-white me-3 fs-2"><i class="fab fa-facebook"></i></a>
              <a href="#" class="text-white me-3 fs-2"><i class="fab fa-instagram"></i></a>
              <a href="#" class="text-white me-3 fs-2"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-white me-3 fs-2"><i class="fab fa-youtube"></i></a>
              <a href="#" class="text-white fs-2"><i class="fab fa-tiktok"></i></a>
            </li>
        </ul>
      </div>
    </div>
</footer>