<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 p-3">
            <h1 class="fw-bold float-start">Your Profile</h1>
            <div class="float-end">
                <button (click)="modalSettings()" type="button" class="btn btn-gear" data-bs-toggle="modal"
                    data-bs-target="#settingsModal">
                    <i class="fa-solid fa-gear fs-1"></i>
                </button>
                <button class="btn" type="button" (click)="logout()"><i
                        class="fas fa-sign-out-alt fs-1 btn-logout"></i></button>
                <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-3" id="settingsModalLabel">Settings</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-6 d-flex gap-2">
                                    <p>
                                        <button (click)="checkExpand($event)" id="usernameBtn"
                                            class="btn settings-btn mb-2" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseUsername" aria-expanded="false"
                                            aria-controls="collapseUsername">
                                            Username
                                        </button>
                                    </p>
                                    <p>
                                        <button (click)="checkExpand($event)" id="passwordBtn"
                                            class="btn settings-btn mb-2" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsePassword" aria-expanded="false"
                                            aria-controls="collapsePassword">
                                            Password
                                        </button>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <div class="collapse show showSettings border border-1 p-3 rounded"
                                        id="collapseUsername">
                                        <div>
                                            <h4>Change Your Username:</h4>
                                            <input type="text" class="userEditInputs">
                                        </div>
                                    </div>
                                    <div class="collapse showSettings border border-1 p-3 rounded"
                                        id="collapsePassword">
                                        <div>
                                            <h4>Change Your Password:</h4>
                                            <input type="text" class="userEditInputs">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-account settings-btn" type="button">Delete Account</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3 class="fw-bold">Username:</h3>
            <h3 class="text-center mt-4">{{ user.name }}</h3>
        </div>
        <div class="col-md-6">
            <h3 class="fw-bold">Email:</h3>
            <h3 class="text-center mt-4">{{ user.email }}</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h1 class="fw-bold">Your Watchlist</h1>
        </div>
        <swiper-container init="false" id="watchlistSwiper" grab-cursor="true" loop="true" navigation="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
            <swiper-slide *ngFor="let watchlist of userWatchlist">
                <div class="card text-center">
                    <img [src]="'https://egyedirobi.moriczcloud.hu/uploads/vizsga/' + watchlist.image_url"
                        class="rounded-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ watchlist.title }}</h5>
                        <hr>
                        <a (click)="showDetails(watchlist.show_id)" class="btn btn-secondary w-50">About</a>
                        <a (click)="removeFromWatchlist(watchlist.show_id)"
                            class="btn btn-dark position-absolute top-0 end-0 mt-2 me-2"><i
                                class="fa-solid fa-bookmark"></i></a>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12 text-center">
        <h1 class="fw-bold">Your Uploads</h1>
    </div>
    <div class="container mt-4">
        <app-edit-upload></app-edit-upload>
    </div>
</div>